.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "map map map flights" "map map map flights" "detailes detailes detailes flights";
}

.map {
    grid-area: map;
}

.detailes {
    grid-area: detailes;
}

.flights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "myflight myflight myflight" "external external external";
    grid-area: flights;
}

.myflight {
    grid-area: myflight;
}

.external {
    grid-area: external;
}
